/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
*_bak
*.bak
ext/polycrystal/*.o
ext/polycrystal/*.bundle
ext/polycrystal/mkmf.log
ext/polycrystal/Makefile
.byebug_history
/.vscode
Gemfile.lock
